{% extends "master.html" %}

{% block body %}

<!-- Body Start -->
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-lg-12">	
                    <h2 class="st_title"><i class="uil uil-wallet"></i> Administrador</h2>
                </div>					
            </div>				
            <div class="row">					
                <div class="col-lg-4 col-md-5">
                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-user"></i>Usuarios</h2>
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"> </i> Administrar Usuarios</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-plus"> </i>Agregar Usuario</a>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-server"></i>Cursos</h2>
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"></i>Administrar Cursos</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-plus"></i>Agregar Curso</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>


                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-users-alt"> </i>Grupos</h2> 
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"> </i>Administrar Grupos</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-plus"> </i>Agregar Grupo</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>
            </div>

            <div class="row">
                
                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-rss-alt"> </i>Conferencias</h2> 
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"> </i>Administrar Conferencias</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-plus"> </i>Agregar Conferencia</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>


                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-folder"> </i>Categorías</h2> 
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"> </i>Administrar Categorías</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-plus"> </i>Agregar Categoría</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>


                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-envelope "> </i>Mensajes</h2> 
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"> </i>Administrar Mensajes</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-fast-mail"> </i>Enviar Mensaje</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>

            </div>


            <div class="row">

                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-comment"> </i>Foros</h2> 
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-table"> </i>Administrar Foros</a>
                            </div>
                            <div>
                                <a href="#"><i class="uil uil-plus"> </i>Agregar Foro</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>

                <div class="col-lg-4 col-md-5">

                    <div class="top_countries mt-30">
                        <div class="top_countries_title">
                            <h2><i class="uil uil-chart-line"> </i>Reportes</h2> 
                        </div>
                        <div class="payout_content">
                            <div>
                                <a href="#"><i class="uil uil-signal-alt-3"> </i>Usuarios</a> ,
                                <a href="#"><i class="uil uil-signal-alt-3"> </i>Cursos</a> , 
                                <a href="#"><i class="uil uil-signal-alt-3"> </i>Grupos</a> , 
                                <a href="#"><i class="uil uil-signal-alt-3"> </i>Actividades</a>
                            </div>
                           
                        </div>
                    </div>
                   
            
                </div>



            </div>




        </div>
    </div>
    
</div>
<!-- Body End -->



{% endblock %}