{% extends "master.html" %}
{% block body %}
<div class="wrapper">
<div class="sa4d25">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-analysis"></i> Editar Curso</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-12">
            <div id="add-course-tab" class="step-app">
               <form method="POST" action="{{host}}{{directory}}admin/cursos/actualizar" enctype="multipart/form-data">
                  <div class="tab-from-content">
                     {% for elemento in elementos %}
                     <input type="text" id="id" name="id" value="{{elemento.id}}" style="display:none" />
                     <div class="course__form">
                        <div class="general_info10">
                           <div class="row">
                              <div class="col-lg-12 col-md-12">
                                 <div class="view_all_dt">
                                    <div class="view_img_left">
                                       <div class="view__img">	
                                          <img src="{{host}}{{directory}}{{elemento.imagen}}" id="preview" class="rounded-circle" alt="" style="width: 192px; height: 192px;">
                                       </div>
                                    </div>
                                    <div class="view_img_right">
                                       <h4>Imagen Curso</h4>
                                       <p>Sube la imagen del curso aquí. Solo se acepta Imagenes con: 750x422 pixels; .jpg, .jpeg,. gif, or .png.</p>
                                       <div class="upload__input">
                                          <div class="input-group">
                                             <div class="custom-file">
                                                <input type="file" id="imagen" name="imagen" class="custom-file-input" accept=".jpg, .jpeg, .gif, .png">
                                                <label class="custom-file-label" for="inputGroupFile04">Selecciona la imagen</label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-3 col-md-3">
                                 <div class="ui search focus mt-30 lbel25">
                                    <label>Codigo Curso*</label>
                                    <div class="ui left icon input swdh19">
                                       <input class="prompt srch_explore" type="text" placeholder="Codigo." required name="codigo" id="codigo" data-purpose="edit-course-title" maxlength="30" id="main[title]" value="{{elemento.codigo}}">
                                       <div class="badge_num">30</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-9 col-md-9">
                                 <div class="ui search focus mt-30 lbel25">
                                    <label>Titulo Curso*</label>
                                    <div class="ui left icon input swdh19">
                                       <input class="prompt srch_explore" type="text" required placeholder="Titulo del curso." name="curso" data-purpose="edit-course-title" maxlength="180" id="curso" value="{{elemento.curso}}">															
                                       <div class="badge_num2">180</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                 <div class="course_des_textarea mt-30 lbel25">
                                    <label>Descripción*</label>
                                    <div class="course_des_bg">
                                       <div class="textarea_dt">
                                          <div class="ui form swdh339">
                                             <div class="field">
                                                <textarea rows="5" required name="descripcion" id="descripcion" placeholder="Descripción del curso">{{elemento.descripcion}}</textarea>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-12">
                                 <div class="mt-30 lbel25">
                                    <label>Categoría*</label>
                                 </div>
                                 <select class="ui hj145 dropdown cntry152 prompt srch_explore" id="id_categoria" required name="id_categoria" value="{{elemento.id_categoria}}">
                                    {% for categoria in categorias %}
                                    {% if categoria.id == elemento.id_categoria %}
                                    <option value="{{categoria.id}}" selected>{{categoria.categoria}}</option>
                                    {% else %}
                                    <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                                    {% endif %}
                                    {% endfor %}
                                 </select>
                              </div>
                              <div class="col-lg-4 col-md-12">
                                 <div class="mt-30 lbel25">
                                    <label>Disponible*</label>
                                 </div>
                                 <div class="ui form checkbox_sign cp_458">
                                    <div class="inline field">
                                       <div class="ui checkbox mncheck">
                                          <input type="checkbox" {{elemento.activo?'checked':''}} tabindex="0" id="activo" name="activo" class="hidden">
                                          <label>Activo</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="step-footer step-tab-pager">
                     <button data-direction="prev" class="btn btn-default steps_btn">Cancelar</button>
                     <button data-direction="finish" class="btn btn-default steps_btn">Editar Curso</button>
                  </div>
                  {% endfor %}
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}