
{% extends "master-home.html" %}

{% block body %}

<!-- Body Start -->
<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="section3125">
                        <h4 class="item_title">Conectados</h4>
                        <a href="#" class="see150">Todos</a>
                        <div class="la5lo1">
                            <div class="owl-carousel live_stream owl-theme">
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-1.jpg" alt="">
                                            <h4>Luis García</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-2.jpg" alt="">
                                            <h4>Erick Martinez</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-9.jpg" alt="">
                                            <h4>Gloria Mendeta</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-3.jpg" alt="">
                                            <h4>Sandra Espindola</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-4.jpg" alt="">
                                            <h4>Luz Elena</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-5.jpg" alt="">
                                            <h4>Alberto Sandoval</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-6.jpg" alt="">
                                            <h4>Juan Toscano</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-7.jpg" alt="">
                                            <h4>Cintia</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stream_1">
                                        <a href="#" class="stream_bg">
                                            <img src="{{assets}}images/left-imgs/img-8.jpg" alt="">
                                            <h4>Ericka</h4>
                                            <p>live<span></span></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section3125 mt-50">
                        <h4 class="item_title">Mis Cursos</h4>
                        <a href="#" class="see150">Todos</a>
                        <div class="la5lo1">
                            <div class="owl-carousel featured_courses owl-theme">
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="#" class="fcrse_img">
                                            <img src="{{assets}}images/courses/img-1.jpg" alt="">
                                            <div class="course-overlay">
                                                <div class="badge_seller">Categoría</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>0.0
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    completado
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            
                                            
                                            <a href="#" class="crse14s">Español</a>
                                            <a href="#" class="crse-cate">Info</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">Impartido por <a href="#">Mtro. Juan Manuel</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="#" class="fcrse_img">
                                            <img src="{{assets}}images/courses/img-2.jpg" alt="">
                                            <div class="course-overlay">
                                                <div class="badge_seller">Categoría</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>4.5
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    completado
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            
                                            
                                            <a href="#" class="crse14s">Matematicas</a>
                                            <a href="#" class="crse-cate">Info</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">Impartido por <a href="#">Mtro. Luis Gonzalez</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="#" class="fcrse_img">
                                            <img src="{{assets}}images/courses/img-3.jpg" alt="">
                                            <div class="course-overlay">
                                                <div class="badge_seller">Categoría</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>4.5
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    cursando
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            
                                            <a href="#" class="crse14s">Ingles II</a>
                                            <a href="#" class="crse-cate">Info</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">Impartido por <a href="#">Mtra. Enriqueta Solis</a></p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="#" class="fcrse_img">
                                            <img src="{{assets}}images/courses/img-4.jpg" alt="">
                                            <div class="course-overlay">
                                                <div class="badge_seller">Categoría</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>5.0
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    cursando
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            
                                            
                                            <a href="#" class="crse14s">Ciencias Sociales</a>
                                            <a href="#" class="crse-cate">Info</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">Impartido por <a href="#">Mtro. Armando García</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="#" class="fcrse_img">
                                            <img src="{{assets}}images/courses/img-5.jpg" alt="">
                                            <div class="course-overlay">
                                                <div class="badge_seller">Categoría</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>4.5
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    cursando
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            
                                            <a href="#" class="crse14s">Computación</a>
                                            <a href="#" class="crse-cate">Info</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">Impartido por <a href="#">Mtra. Lorena Herrera</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="#" class="fcrse_img">
                                            <img src="{{assets}}images/courses/img-6.jpg" alt="">
                                            <div class="course-overlay">
                                                <div class="badge_seller">Categoría</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>5.0
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    completado
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            
                                            
                                            <a href="#" class="crse14s">Geografía</a>
                                            <a href="#" class="crse-cate">Info</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">Impartido por <a href="#">Mtra. Luisa Sandoval</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="section3125 mt-50">
                        <h4 class="item_title">Mis Profesores</h4>
                        <a href="#" class="see150">Todos</a>
                        <div class="la5lo1">
                            <div class="owl-carousel top_instrutors owl-theme">
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-1.jpg" alt=""></a>												
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Armando Diaz</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Matematicas</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-2.jpg" alt=""></a>											
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Luisa Hernandez</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Español</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-3.jpg" alt=""></a>												
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Jose Portilla</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Ingles</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-4.jpg" alt=""></a>											
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Fatima Hernandez</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Educación Física</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>									
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-5.jpg" alt=""></a>												
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Lorem Lorem</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Lorem</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-7.jpg" alt=""></a>												
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Lorem Lorem</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Lorem &amp; Lorem</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-8.jpg" alt=""></a>												
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Lorem Lorem</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Lorem & Lorem</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="#"><img src="{{assets}}images/left-imgs/img-6.jpg" alt=""></a>												
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="#" class="tutor_name">Lorem Lorem</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Lorem - Lorem</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="right_side">
                        <div class="fcrse_2 mb-30">
                            <div class="tutor_img">
                                <a href="my_#"><img src="{{assets}}images/left-imgs/img-10.jpg" alt=""></a>												
                            </div>
                            <div class="tutor_content_dt">
                                <div class="tutor150">
                                    <a href="my_#" class="tutor_name">{{nombre}}</a>
                                    <div class="mef78" title="Verify">
                                        <i class="uil uil-check-circle"></i>
                                    </div>
                                </div>
                                <div class="tutor_cate">Me encanta dar todo sobre mí</div>
                                <ul class="tutor_social_links">
                                    <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                                
                                
                            </div> 
                        </div>
                        
                        <div class="get1452">
                            <h4>Anuncio</h4>
                            <p>Revisa las nuevas politicas de la escuela.</p>
                            <button class="Get_btn" onclick="window.location.href = '#';">Revisar</button>
                        </div>
                        <div class="fcrse_3">
                            <div class="cater_ttle">
                                <h4>Categorias</h4>
                            </div>
                            <ul class="allcate15">
                                <li><a href="#" class="ct_item"><i class='uil uil-arrow'></i>Español</a></li>
                                <li><a href="#" class="ct_item"><i class='uil uil-graph-bar'></i>Matematicas</a></li>
                                <li><a href="#" class="ct_item"><i class='uil uil-monitor'></i>Civismo</a></li>
                                <li><a href="#" class="ct_item"><i class='uil uil-ruler'></i>Diseño</a></li>
                                <li><a href="#" class="ct_item"><i class='uil uil-chart-line'></i>Fisica</a></li>
                                <li><a href="#" class="ct_item"><i class='uil uil-book-open'></i>Ejercicios</a></li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <footer class="footer mt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_bottm">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="fotb_left">
                                    <li>
                                        <a href="index.html">
                                            <div class="footer_logo">
                                                <img src="{{assets}}images/logo1.svg" alt="">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <p>© 2020 <strong>Eduflix</strong>. All Rights Reserved.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="edu_social_links">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>		
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Body End -->

{% endblock %}