{% extends "master.html" %}
{% block body %}
<script>
function showResult(str) {
  if (str.length==0) {
    document.getElementById("buscador").innerHTML="";
    document.getElementById("buscador").style.border="0px";
    return;
  }
  var xmlhttp=new XMLHttpRequest();
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("buscador").innerHTML=this.responseText;
      document.getElementById("buscador").style.border="1px solid #A5ACB2";
    }
  }
  xmlhttp.open("GET","index.html?q="+str,true);
  xmlhttp.send();
};

</script>
<!-- Body Start -->

<div class="wrapper">		
		
    <div class="sa4d25">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-lg-12">	
                    <h2 class="st_title"><i class="uil uil-envelope"></i> Mensajes</h2>          
                </div>					
            </div>				
            <div class="row">
                <div class="col-12">
                    <ul class="more_options_tt">
                        <li><button onclick="window.location='{{host}}{{directory}}mensajes/';return false;" class="more_items_14 active">Recibidos</button></li>
                        <li><button onclick="window.location='{{host}}{{directory}}mensajes/enviados';return false;" class="more_items_14">Enviados</button></li>
                        <li>
                        <div class="ui search focus">
                                        <form action="{{host}}{{directory}}mensajes/buscar" method="GET">
                                            <div class="ui left icon input swdh11 swdh15">
                                                <input class="prompt srch_explore" required name="buscar" id="buscar" type="text" placeholder="Buscar Mensajes...">
                                                    <i class="uil uil-search-alt icon icon8"></i>
                                                    <button class="create_btn_dash" type="submit">Buscar</button>
                                            </div>
                                        </form>
                                        
                                    </div>
                                    
                        </li>
                        <div class="card_dash_right1">
                            <button class="create_btn_dash" onclick="window.location.href = '{{host}}{{directory}}/mensajes/nuevo';">Redactar</button>
                        </div>
                    </ul>
                    
                    {% for mensaje in mensajes %}
                    <div class="all_msg_bg">
                        
                        <div class="channel_my item all__noti5">
                            
                            <div class="profile_link" id="profile">
                                <img src="{{host}}{{directory}}repositorio/usuarios/{{mensaje.id_usuario_envia}}.jpg" alt="">
                                <div class="pd_content" id="mensaje">
                                    <h6>De: {{mensaje.usuario}}</h6>
                                    <p class="noti__text5">Asunto: 
                                    <a href="{{host}}{{directory}}mensajes/{{mensaje.id}}/ver">{{mensaje.asunto}}
                                    </a></p>
                                    <span class="nm_time">{{mensaje.fechar}}</span>
                                </div>							
                            </div>
                        
                        </div>
                       
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    

<!-- Body End -->
{% endblock %}
