{% extends "master.html" %}
{% block body %}
<!-- Body Start -->
<div class="wrapper">		
		
    <div class="sa4d25">
        <div class="container-fluid">			
            
            	
            <div class="row">
                <div class="col-12">
                    {% for obtener in obtenidos %}
                   <div class="card_dash1">
                    <input type="text" id="id" name="id" value="{{obtener.id}}" style="display:none" />
								<div class="card_dash_left1">
                                    
									   <i class="uil uil-envelope-download"></i>
									   <h1>Mensaje:<small> {{obtener.asunto}}</small></h1>
								</div>
								<div class="card_dash_right1">
								   <button class="create_btn_dash" onclick="window.location='{{host}}{{directory}}mensajes/{{obtener.id}}/responder'">Responder</button>
								</div>
					    </div>
                    
                        
                    <div class="all_msg_bg">
                        <div class="channel_my item all__noti5">
                            <div class="profile_link">
                                <img src="{{host}}{{directory}}repositorio/usuarios/{{obtener.id_usuario_envia}}.jpg" alt="">
                                <div class="pd_content">
                                    <h6>De: {{obtener.usuario}}</h6>
                                    <p class="noti__text5">Asunto:
                                    <a href="#">{{obtener.asunto}}
                                    </a></p>
                                    <div class="col-lg-12">
                                    <p>
                                    {{obtener.descripcion}}
                                    
                                    </p>
                                    </div>
                                    
                                    <span class="nm_time">{{obtener.fechar}}</span> <span style="float:right;">Archivo: <a href="{{host}}{{directory}}mensajes/{{obtener.id}}/descargar">{{obtener.archivo}}</a></span>
                                </div>
                                							
                            </div>							
                        </div>
                      
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
<!-- Body End -->
{% endblock %}
