<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>{{nameprogram}}</title>
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="{{assets}}images/fav.png">
		
        <!-- Stylesheets -->
        
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='{{assets}}vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="{{assets}}css/vertical-responsive-menu.min.css" rel="stylesheet">
		<link href="{{assets}}css/style.css" rel="stylesheet">
		<link href="{{assets}}css/responsive.css" rel="stylesheet">
		<link href="{{assets}}css/night-mode.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="{{assets}}vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="{{assets}}vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="{{assets}}vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="{{assets}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{assets}}vendor/semantic/semantic.min.css" rel="stylesheet" >	
        {% endblock %}

		
	
	</head> 

<body>
    
    {% block body %}
    {% endblock %}


	{% block javascripts %}
	<script src="{{assets}}js/jquery-3.3.1.min.js"></script>
	<script src="{{assets}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="{{assets}}vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="{{assets}}vendor/semantic/semantic.min.js"></script>
	<script src="{{assets}}js/custom.js"></script>	
	<script src="{{assets}}js/night-mode.js"></script>	

	{% endblock %}
	
</body>
</html>